<div class="jumbotron">
  <div class="container">
    <h1>Welcome to myPortfolio</h1>
    <p>This is the landing page of the myPortfolio application.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="assets/biryani.jpg" class="card-img-top" alt="Blog 1" />
        <div class="card-body">
          <h5 class="card-title">The Enchanting Biryani Experience 🍛</h5>
          <p class="card-text">
            Biryani, the crown jewel of Indian cuisine, weaves magic with
            fragrant rice, tender meats, and a blend of spices that dance on
            your taste buds. 🌟 From royal origins to heartwarming gatherings,
            biryani's flavors tell tales of tradition and joy. Indulge in this
            culinary masterpiece! 🥘🤤🎉
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="assets/dosa.jpg" class="card-img-top" alt="Blog 2" />
        <div class="card-body">
          <h5 class="card-title">Celebrating Dosa: Crispy Delight 🥞</h5>
          <p class="card-text">
            Dosa, the crispy South Indian delight, is a symphony of fermented
            rice and lentil batter cooked to golden perfection. 🌟 Its
            versatility, from classic masala dosa to creative twists, makes it a
            breakfast favorite that never fails to satisfy. Embrace the crispy
            magic! 🍽️🤩
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="assets/Idli.jpg" class="card-img-top" alt="Blog 3" />
        <div class="card-body">
          <h5 class="card-title">Embracing Idli: Fluffy Comfort Food 🍚</h5>
          <p class="card-text">
            Idli, a beloved South Indian comfort, delights with its airy texture
            and mild flavor. 🌟 These steamed rice cakes are a wholesome canvas,
            pairing perfectly with chutneys and sambar. Experience the
            simplicity and comfort of idli—a timeless favorite! 🍽️🤤🥰
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
